#ventas {
    background-color: blue;
    
    color:white !important;
}
tr .blanco {
    background-color: rgb(151, 161, 11);

}
.aquamarine {
    background-color: rgb(155, 179, 185)
}
.azuljersey {
    background-color: rgb(176, 113, 64);
    color:aquamarine;
}
#ton {
    color:rgb(37, 150, 92) !important;
}
#entrega {
    color:rgb(184, 127, 107);
    text-align: center;
}

#first {
    border-top: 1.2px solid black;
    border-bottom: 1.2px  solid black;    
    border-collapse: collapse;
}
* {
    border: 1px;
}