#ventas {
    background-color: blue;
    
    color:white !important;
}
tr .blanco {
    background-color: rgb(11, 101, 161);

}
.aquamarine {
    background-color: rgb(155, 185, 156)
}
.azuljersey {
    background-color: rgb(176, 113, 64);
    color:aquamarine;
}
#ton {
    color:rgb(75, 37, 150) !important;
}
#entrega {
    color:rgb(184, 127, 107);
    text-align: center;
}

#first {
    border-top: 1.2px solid rgb(165, 132, 132);
    border-bottom: 1.2px  solid rgb(60, 149, 127);    
    border-collapse: collapse;
}
* {
    border: 1px;
}