#ventas {
    background-color: blue;
    
    color:white !important;
}
tr .blanco {
    background-color: rgb(11, 91, 161);

}
.aquamarine {
    background-color: rgb(179, 185, 155)
}
.azuljersey {
    background-color: rgb(64, 176, 96);
    color:aquamarine;
}
#ton {
    color:rgb(37, 150, 92) !important;
}
#entrega {
    color:rgb(184, 127, 107);
    text-align: center;
}

#first {
    border-top: 3px dashed;
    border-bottom: 3px dashed;
    border-collapse: collapse;
}
* {
    border: 1px;
}